<!DOCTYPE html>
<html>
	<head>
		<title>Prodotto</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<div th:if="${album}">
			<h1 th:text="${album.title}">Titolo Album</h1>
			<span><img width="30%" th:src=${album.cover}/></span>
			<h2> Autori: </h2>
			<div th:each="author:${album.artist}">
			<a th:href="@{/artist/{id} (id=${author.id})}">
				<li th:text="${author.artName}"> Nome autore </li> 
			</a>
			</div>
			<h2> Commenti dagli utenti: </h2>
			<form th:action="@{/updateReview/{idAlbum}/{idReview} (idAlbum=${album.id}, idComment=${upReview.id})}" method="POST" th:object="${upReview}">
				<div th:if="${#fields.globalErrors()}" th:text="${err}">
				<p th:each="err:${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<div>
					<label>Titolo:</label> <span><input required type="text" th:field="${upReview.title}" th:value="${upReview.title}"/></span>
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				</div>
				<div>
					<label>Testo:</label> <span><input required type="text" th:field="${upReview.text}" th:value="${upReview.text}"/></span>
					<span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
				</div>
				<div>
					<label>Voto:</label> <span><input required type="number" th:field="${upReview.vote}" th:value="${upReview.vote}"/></span>
					<span th:if="${#fields.hasErrors('vote')}" th:errors="*{vote}"></span>
				</div>
				<div>
				<span><button type="submit">Conferma </button> </span>
				</div>
			</form>
			<div th:each="userReview:${userReviews}">
				<div th:text=${userReview.credentials.username}> User </div>
				<div> <span th:text="${userReview.title}+': '"> Titolo: </span> </div>
				<div> <span th:text="${userReview.vote}+'/5'"> </span></div>
				<div> <span th:text=${userReview.text}> Testo </span> </div>
				<div> <a th:href="@{/updateReview/{idAlbum}/{idReview} (idAlbum=${album.id}, idReview=${userReview.id})}"> Modifica la tua recensione </a> </div>
			</div>
			<div th:each="review:${reviews}">
				<div th:text=${review.credentials.username}> User </div>
				<div> <span th:text="${review.title}+': '"> Titolo: </span> 
				<div> <span th:text="${review.vote}+'/5'"> </span></div>
				<div> <span th:text=${review.text}> Testo </span> </div>
			</div>
		</div>
		<div th:unless="${album}">Non esiste</div>	
	</body>
</html>