<!DOCTYPE html>
<html>
	<head>
		<title>Lista album</title>
		<link  rel="stylesheet" th:href="@{/css/2template.css}"/>
	</head>
	<body>
	<article th:replace="fragments/base.html::intestazione"></article>
	<h1>Album</h1>
		<div th:if="${albums.empty}"> 
			<div> Non ci sono album </div>
		</div>
		<div th:each="album:${albums}">
			<a th:href="@{/albums/{id} (id=${album.id})}">
				<li th:text="${album.title}">Titolo Album </li> 
			</a>
		</div>
	<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>