<!DOCTYPE html>
<html>
	<head>
		<title>Aggiungi o rimuovi autori</title>
		<link  rel="stylesheet" th:href="@{/css/2template.css}"/>
	</head>
	<body>
	<header th:replace="fragments/base.html::intestazione"></header>
		<h1>Autori correnti: </h1>
			<div th:each="artist:${artists}">
				<form th:action="@{/modifyArtist/{idArtist}/{idAlbum} (idArtist=${artist.id}, idAlbum=${album.id})}" method="POST" th:object="${album}">
					<button type="submit">
						<li th:text="${artist.artName}"> Nome </li> 
					</button>
				</form>
			</div>
		<h1>Autori disponibili: </h1> 
			<div th:each="other:${others}">
				<form th:action="@{/modifyArtist/{idArtist}/{idMovie} (idArtist=${other.id}, idMovie=${album.id})}" method="POST" th:object="${album}">
					<button type="submit">
						<li th:text="${other.artName}"> Nome </li> 
					</button>
				</form>
			</div>	
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>