<!DOCTYPE html>
<html>
	<head>
		<title>Modifica prodotto</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<h1> Aggiorna il prodotto </h1>
		<div>
			<form th:action="@{/updateArtistInfo/{idArtist} (idArtist=${artist.id})}" method="POST" th:object="${artist}">
			<div>
			<label>Nome:</label> <span><input required type="text" th:field="${artist.name}" th:value="${artist.name}"/></span>
			</div> 
			<label>Descrizione:</label> <span><input required type="text" th:field="${artist.description}" th:value="${artist.description}"/></span> 
			</div>
			<div>
			<label>Immagine:</label> <span><input required type="url" th:field="${artist.urlImage}" th:value="${artist.urlImage}"/></span>
			</div> 
			<button type="submit"> Applica </button> 
			</form>
		</div>
	</body>
</html>