<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo artista</title>
		<link  rel="stylesheet" th:href="@{css/2template.css}"/>
	</head>
	<body>
	<header th:replace="fragments/base.html::intestazione"></header>
	<h1>Aggiungi un artista </h1>
	<form th:action="@{/artists}" method="POST" th:object="${artist}" enctype="multipart/form-data">
	<div th:if="${#fields.globalErrors()}" th:text="${err}">
		<p th:each="err:${#fields.globalErrors()}" th:text="${err}">...</p>
	</div>
	<div>
		<label>Nome d'arte:</label> <span><input required type="text" th:field="${artist.artName}"/></span>
		<span th:if="${#fields.hasErrors('artName')}" th:errors="*{artName}"></span>
	</div>
	<div>
		<label>Descrizione:</label><span><input class="bigText" required type="text" th:field="${artist.description}"/></span>
		<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
	</div>
	<div>
		<label>Immagine:</label><span><input type="file" name="image" accept="image/png, image/jpeg"/></span>
	</div>
	<div>
	<span><button type="submit"> Conferma </button> </span>
	</div>
	</form>
	<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>