<!DOCTYPE html>
<html>
	<head>
		<title th:text="${album.title}">Modifica album</title>
		<link  rel="stylesheet" th:href="@{/css/2template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<h1 th:text="${album.title}"> Album </h1>
		<div>
			<a th:href="@{/addArtistToAlbum/{idAlbum} (idAlbum=${album.id})}"> Aggiungi un artista </a>
		</div>
		<div>
			<a th:href="@{/updateAlbumInfo/{idAlbum} (idAlbum=${album.id})}"> Modifica le informazioni di un album </a>
		</div>
	</body>
</html>