<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo album</title>
		<link  rel="stylesheet" th:href="@{css/2template.css}"/>
	</head>
	<body>
	<div class="other">
	<header th:replace="fragments/base.html::intestazione"></header>
	<h1>Aggiungi un album </h1>
	<form th:action="@{/albums}" method="POST" th:object="${album}">
	<div th:if="${#fields.globalErrors()}" th:text="${err}">
		<p th:each="err:${#fields.globalErrors()}" th:text="${err}">...</p>
	</div>
	<div>
		<label>Titolo:</label> <span><input required type="text" th:field="${album.title}"/></span>
		<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
	</div>
	<div>
		<label>Anno:</label> <span><input required type="text" th:field="${album.year}"/></span>
		<span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
	</div>
	<div>
		<label>Copertina:</label> <span><input required type="url" th:field="${album.cover}"/></span>
	</div>
	<div>
	<span><button type="submit">Conferma </button> </span>
	</div>
	</form>
	</div>
	<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>