<!DOCTYPE html>
<html>
	<head>
		<title>Modifica album</title>
		<link  rel="stylesheet" th:href="@{/css/2template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<h1> Aggiorna le informazioni dell'album </h1>
			<div><p th:text="${messaggioErrore}"> </p></div>
			<form th:action="@{/updateAlbumInfo/{idAlbum} (idAlbum=${album.id})}" method="POST" th:object="${newAlbum}">
			<div>
			<label>Nome:</label> 
			<span><input required type="text" th:field="${newAlbum.title}" th:value="${newAlbum.title}"/></span>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
			</div> 
			<label>Anno:</label>
			<span><input required type="number" th:field="${newAlbum.year}" th:value="${newAlbum.year}"/></span> 
			</div>
			<button type="submit"> Applica </button> 
			</form>
	</body>
</html>