<!DOCTYPE html>
<html>
	<head>
		<title>Modifica artista</title>
		<link  rel="stylesheet" th:href="@{/css/2template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<h1> Aggiorna le informazioni dell'artista </h1>
			<div><p th:text="${messaggioErrore}"> </p></div>
			<form th:action="@{/updateArtistInfo/{idArtist} (idArtist=${artist.id})}" method="POST" th:object="${newArtist}">
			<div>
			<label>Nome:</label> 
			<span><input required type="text" th:field="${newArtist.artName}" th:value="${newArtist.artName}"/></span>
			<span th:if="${#fields.hasErrors('artName')}" th:errors="*{artName}"></span>
			</div> 
			<label>Descrizione:</label> 
			<span><input required type="text" th:field="${newArtist.description}" th:value="${newArtist.description}"/></span> 
			</div>
			<button type="submit"> Applica </button> 
			</form>
	</body>
</html>