<!DOCTYPE html>
<html>
	<head>
		<title>Gestisci artisti</title>
		<link  rel="stylesheet" th:href="@{/css/2template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<h1 th:text="${artist.artName}"> Artista </h1>
		<div>
			<span th:text="${messaggioErrore}"> </span>
		</div>
		<div>
			<a th:href="@{/updateArtistInfo/{id} (id=${artist.id})}"> Aggiorna le informazioni di questo artista </a>
		</div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>