<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<link rel="stylesheet" href="/stile.css?version=3"/>
	</head>
	<body>
		<h1> Indice Album </h1>
		<a href="formNewAlbum.html" th:href="@{/formNewAlbum}"> 
			<div> Inserisci un album </div>
		</a>
		<a href="manageAlbums.html" th:href="@{/manageAlbums}"> 
			<div> Gestisci le informazioni di un album </div>
		</a>
		<a href="albums.html" th:href="@{/albums}"> 
			<div> Visualizza il il catalogo degli album</div>
		</a>
		<h1> Indice Artisti </h1>
		<a href="formNewArtist.html" th:href="@{/formNewArtist}"> 
			<div> Inserisci un artista </div>
		</a>
		<a href="manageArtists.html" th:href="@{/manageArtists}"> 
			<div> Modifica un artista </div>
		</a>
		<a href="discographyForArtists.html" th:href="@{/findArtistDiscography}"> 
			<div> Trova la discografia di un artista </div>
		</a>
		<a href="artists.html" th:href="@{/artists}"> 
			<div> Visualizza tutti gli artisti </div>
		</a>
	</body>