<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<link  rel="stylesheet" th:href="@{css/2template.css}"/>
	</head>
	<body class="home">
		<article th:replace="fragments/base.html::intestazione"></article>
		<div class="indexUser">
			<div class="indexAlbum">
				<h1 class="albumI"> Indice Album </h1>
				<a href="formNewAlbum.html" th:href="@{/formNewAlbum}"> 
					<div> Inserisci un album </div>
				</a>
				<a href="manageAlbums.html" th:href="@{/manageAlbums}"> 
					<div> Gestisci le informazioni di un album </div>
				</a>
				<a href="albums.html" th:href="@{/albums}"> 
					<div> Visualizza tutti gli album</div>
				</a>
			</div>
			<div class="indexArtist">
				<h1 class="albumI"> Indice Artisti </h1>
				<a href="formNewArtist.html" th:href="@{/formNewArtist}"> 
					<div> Inserisci un artista </div>
				</a>
				<a href="manageArtists.html" th:href="@{/manageArtists}"> 
					<div> Modifica un artista </div>
				</a>
				<a href="discographyForArtists.html" th:href="@{/findArtistDiscography}"> 
					<div> Esplora la discografia di un artista </div>
				</a>
				<a href="artists.html" th:href="@{/artists}"> 
					<div> Visualizza tutti gli artisti </div>
				</a>
			</div>
		</div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>