<!DOCTYPE html>
<html>
	<head>
		<title>Gestisci artisti</title>
		<link  rel="stylesheet" th:href="@{css/2template.css}"/>
	</head>
	<body>
	<header th:replace="fragments/base.html::intestazione"></header>
	<h1>Scegli un artista da gestire</h1>
		<div th:if="${artists.empty}"> 
			<div> Non ci sono artisti </div>
		</div>
		<div th:each="artist:${artists}">
			<a th:href="@{/formUpdateArtist/{id} (id=${artist.id})}">
				<li th:text="${artist.artName}">Nome </li> 
			</a>
		</div>
	</body>
</html>