<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<link  rel="stylesheet" th:href="@{css/2template.css}"/>
	</head>
	<body class="home">
		<article th:replace="fragments/base.html::intestazione"></article>
		<div class="indexBody">
		<span class="flex-index">
		<a href="discographyForArtists.html" th:href="@{/findArtistDiscography}"> 
			<div> Esplora la discografia di un artista </div>
		</a>
		</span>
		</div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>